.LoginForm {
    /* background-color: honeydew; */
    border-radius: 3px;
    /* width: 400px;
    min-height: 150px;
    margin: 0 auto;
    margin-top: 120px; */
    /* color: wheat; */
    /* background-color: rgba(25, 17, 28, 0.7); */
}

.header {
    text-align: center;
}

.input-username {
    outline: none;
    background-color: lightgray;
    border-radius: 10px;
}

.input-new-pass-label {
    width: 160px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
}

.input-password {
    outline: none;
    background-color: lightgray;
    border-radius: 10px;
}

.change-pass-btn {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: wheat;
    border-radius: 3px;
}

.send-email {
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: wheat;
    border-radius: 3px;
}

.touched {
    border-radius: 10px;
}

.invalid {
    border: 2px solid red;
}

.error {
    color: red;
    text-align: center;
}

.rcv_msg {
    margin: 40px;
    margin-top: 40px;
    display: inline-block;
}

.new-pass-container {
    height: 120px;
}

.confirm-pass-container {
    height: 55px;
}

.email-container {
    height: 55px;
}